# Ignore node_modules in all subdirectories
**/node_modules/

# Ignore logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore environment variable files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore dependencies
package-lock.json
yarn.lock

# Ignore build and dist folders (if any)
dist/
build/

# Ignore IDE-specific files
.vscode/
.idea/
.DS_Store

# Ignore other OS-specific files
Thumbs.db
